[submodule "themes/darths-hugo-shortcodes"]
	path = themes/darths-hugo-shortcodes
	url = https://github.com/Darthagnon/darths-hugo-shortcodes.git
[submodule "themes/hugo-xterm"]
	path = themes/hugo-xterm
	url = https://github.com/manid2/hugo-xterm.git
