[submodule "themes/universal"]
	path = themes/universal
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "themes/xterm"]
	path = themes/xterm
	url = https://github.com/manid2/hugo-xterm.git
